<div class="border" id="main">
  <div id="z1"></div>
  <div id="z2"></div>
  <div id="title"></div>
  <div id="delete">Delete</div>
  <div class="clear"></div>
</div>
<div class="clear"></div>
<div id="links"></div>
<a href="javascript:void(0)" id="add">Add new</a>
<div class="clear"></div>