html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{font-size:100%;}
a {outline: none;} /* Gets rid of Firefox's dotted borders */
a img {border: none;} /* Gets rid of IE's blue borders */

@font-face {
  font-family: 'ImpactLabelRegular';
  src: url('/images/impact_label-webfont.eot');
  src: url('/images/impact_label-webfont.eot?#iefix') format('embedded-opentype'),
       url('/images/impact_label-webfont.woff') format('woff'),
       url('/images/impact_label-webfont.ttf') format('truetype'),
       url('/images/impact_label-webfont.svg#ImpactLabelRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

div, a {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  background-image: url(/images/wood.jpg);
  background-size: cover;
  font-family: Helvetica, Arial;
}

#z1, #z2 {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-color: #ccc;
  float: left;
  width: 50%;
  height: 100%;
}

.box {
  width: 150px;
  height: 130px;
}

.border {
	float: left;
  padding: 10px 10px 35px 10px;
	background: #eee;
	border: 1px solid #fff;
	box-shadow: 0px 2px 15px #333;
  cursor: pointer;
	position: relative;
}

.pane {
  float: left;
  width: 75px;
  height: 130px;
  background-size: 150%;
  background-position: center center;
  background-color: #ddd;
}

#main {
  float: none;
  width: 70%;
  padding-bottom: 70px;
  margin: 40px auto;
  cursor: auto;
}

.clear {
  clear: both;
}

#delete {
  float: right;
  color: #ccc;
  margin-top: 45px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}

#delete:hover {
  color: #aaa;
}

#title {
  float: left;
  font-size: 36px;
  min-width: 400px;
  margin-top: 17px;
  font-family: ImpactLabelRegular;
}

#links {
  width: 70%;
  margin: 0 auto;
}

#add {
  font-family: ImpactLabelRegular;
  font-size: 26px;
  text-decoration: none;
  float: left;
  margin: 50px 15px;
  -webkit-transform: rotate(5deg);
  color: #000;
  background-color: #fff;
}